.card-container {
    box-shadow: 3px 3px 6px 3px rgba(128, 189, 189, 0.55);

}

.card-position {
    transition: transform 0.5s ease-in-out 0s;
}

.card-position:hover {
    transform: translate(0px,-20px);
    box-shadow: 3px 3px 6px 3px rgba(102, 117, 117, 0.55);
}

.card-img {
    height: 200px;
}